<div
  class="flex flex-col justify-between items-center transition-all duration-300 ease-in-out"
>
  <div
    class="px-14 pt-20 flex flex-row items-start justify-center space-x-12 h-auto w-full"
  >
    <div class="flex flex-row items-start justify-end mb-0 h-full w-full">
      <buyez-product-galleria></buyez-product-galleria>
    </div>
    <div class="flex flex-col items-start justify-start text-left w-full">
      <h3 class="text-2xl font-bold mb-2.5 mt-0">
        {{ (product$ | async)?.name }}
      </h3>
      <h2 class="text-salmon mb-4 font-semibold text-xl">
        $ {{ (product$ | async)?.price }}
      </h2>

      <ul class="flex flex-col items-start justify-start text-left">
        <li class="inline-block mb-1 text-left">
          <span class="text-surface-500 text-sm inline-block">Category:</span>
          <span class="text-surface-100 inline-block text-sm ml-4"
            >{{ (product$ | async)?.type ?? 0 | producttext : "type" }}
          </span>
        </li>
        <li class="inline-block mb-1 text-left">
          <span class="text-surface-500 text-sm inline-block"
            >Availability:
          </span>
          <span class="text-surface-100 inline-block text-sm ml-4"
            >{{ (product$ | async)?.status ?? 0 | producttext : "status" }}
          </span>
        </li>
        <li class="inline-block mb-1 text-left">
          <span class="text-surface-500 text-sm inline-block">Sold: </span>
          <span class="text-surface-100 inline-block text-sm ml-4"
            >2.000+
          </span>
        </li>
      </ul>

      <div class="my-4 flex space-x-2">
        <p-rating /><span class="text-surface-400">(204 Reviews)</span>
      </div>

      <div class="flex items-center space-x-4">
        <div class="flex justify-center py-3">
          <p-buttongroup class="border border-surface-800 rounded-2xl">
            <p-button
              icon="pi pi-minus"
              styleClass="bg-surface-900 border-0 text-white pl-6 pr-4 py-3 rounded-l-2xl w-full active:opacity-60"
              [disabled]="quantity === 0"
              (onClick)="decrementQuantity()"
            />
            <input
              [value]="quantity"
              class="flex items-center px-4 border-y border-surface-800 w-16 text-center"
            />
            <p-button
              icon="pi pi-plus"
              styleClass="bg-surface-900 border-0 text-white pl-4 pr-6 py-3 rounded-r-2xl w-full active:opacity-60"
              (onClick)="incrementQuantity()"
            />
          </p-buttongroup>
        </div>
        <div>
          <p-button
            label="ADD TO CART"
            size="small"
            severity="secondary"
            styleClass="px-8 py-2"
            (onClick)="addToCart()"
          />
        </div>
      </div>

      <div class="pt-5 w-full border-t-1 border-dashed border-surface-50 my-5">
        <div class="mt-4 pb-3 space-y-2">
          <p class="mb-2">
            <a href="#" class="font-semibold hover:text-neutral-400">
              Mike's house
            </a>
            <span class="text-neutral-400 text-sm"> - online 1 minute ago</span>
          </p>
          <div class="flex items-center space-x-6 text-sm">
            <p class="mb-2">
              <span class="font-semibold text-orange-300">171</span>
              Products
            </p>
            <p class="mb-2">
              <span class="font-semibold text-orange-300">4.9</span>
              Satisfaction
            </p>
            <p class="mb-2">
              <span class="font-semibold text-orange-300">4k+</span>
              Customers
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="pb-24 leading-[1.4] mt-16 transition-all duration-300 ease-in-out w-full"
  >
    <div class="flex justify-start">
      <div class="mx-52 space-y-3">
        <h2 class="text-xl font-bold">Description</h2>
        <p class="text-surface-200">
          {{ (product$ | async)?.description }}
        </p>
      </div>
    </div>
  </div>
</div>
