<div class="min-h-3/5">
  <div class="self-start mt-16 text-left px-[60px]">
    <h1
      class="font-[700] uppercase text-[36px] tracking-tight mb-4 leading-[1.2]"
    >
      explore everything in just one platform
    </h1>
    <span class="text-surface-500 text-[16px] leading-[1.6] mb-[15px]"
      >Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
      viverra ornare, eros dolor interdum nulla.</span
    >
  </div>
  <div
    class="px-[60px] transition-all duration-300 ease-in-out w-full flex flex-row space-x-5 mt-[50px] mb-[80px] justify-between items-start"
  >
    <div class="flex flex-col flex-none items-start justify-start mb-12">
      <buyez-product-filter />
    </div>
    <div class="flex flex-1 flex-col w-full">
      <div class="w-full flex flex-row justify-start">
        <span
          class="inline-block text-start self-center text-[16px] mb-[26px] tracking-wider font-[400] leading-[1.2]"
          ><strong>{{ (products$ | async)?.length }}</strong> Products Were
          Found</span
        >
      </div>
      <div
        class="grid grid-cols-12 transition-all duration-300 ease-in-out gap-x-6 gap-y-8 overflow-x-hidden"
      >
        <div
          *ngFor="let product of products$ | async"
          class="3xl:col-span-2 2xl:col-span-3 xl:col-span-4 lg:col-span-4 md:col-span-12 sm:col-span-12"
        >
          <buyez-product-item [product]="product"></buyez-product-item>
        </div>
      </div>
      <div
        class="card flex justify-center mt-6"
        *ngIf="(products$ | async)?.length"
      >
        <p-paginator
          styleClass="bg-transparent"
          (onPageChange)="onPageChange($event)"
          [rows]="rows"
          [totalRecords]="totalRecords$ | async"
        />
      </div>
    </div>
  </div>
</div>
