<div class="pl-5">
  <div class="col-12">
    <h3
      class="w-full border-b-1 white-space-nowrap text-sm font-bold pb-2 text-surface-400"
    >
      Order Summary
    </h3>
    <div class="w-full flex my-4">
      <span class="block w-[80%] text-sm">Items Price</span>
      <span class="block w-[80%] text-sm text-surface-200 font-bold"
        >${{ calculateItemsPrice() }}</span
      >
    </div>

    <div class="w-full flex my-4">
      <span class="block w-[80%] text-sm">Packing & Shipping</span>
      <span class="block w-[80%] text-sm text-surface-200 font-bold"
        >${{ cartItems?.length === 0 ? "0" : shippingCost }}</span
      >
    </div>

    <div *ngIf="cartItems?.length !== 0">
      <div class="flex my-4">
        <span class="block w-[80%] text-sm">Total Price</span>
        <span class="block w-[80%] text-sm text-surface-200 font-bold"
          >${{ calculateTotalPrice() }}</span
        >
      </div>
      <div class="w-full my-6 flex justify-center">
        <p-button
          label="Place Order"
          [raised]="true"
          severity="success"
          class="w-full"
          styleClass="w-full"
          (onClick)="onPlaceOrder()"
        />
      </div>
    </div>
  </div>
</div>
